@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <h2>Welcome</h2>
</div>
<div class="row">
    <div class="col-md-4">
        <a class="btn btn-success btn-lg" asp-page="/Decks/Index">My Decks</a>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
</div>
