@page
@model StudyReg.Web.Pages.Goals.AssessModel

@{
    ViewData["Title"] = "Self-Assessment";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Assess</h2>

<h4>Goal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Goal.Id" />
            <div class="form-group">
                <label asp-for="Goal.SelfAssessmentExpectation" class="control-label"></label>
                <textarea asp-for="Goal.SelfAssessmentExpectation" class="form-control"></textarea>
                <span asp-validation-for="Goal.SelfAssessmentExpectation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Goal.SelfAssessmentAdjustment" class="control-label"></label>
                <textarea asp-for="Goal.SelfAssessmentAdjustment" class="form-control"></textarea>
                <span asp-validation-for="Goal.SelfAssessmentAdjustment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
