@page
@model StudyReg.Web.Pages.Goals.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<h4>Goal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Goal.Title" class="control-label"></label>
                <input asp-for="Goal.Title" class="form-control" />
                <span asp-validation-for="Goal.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Goal.Description" class="control-label"></label>
                <textarea asp-for="Goal.Description" class="form-control" text-wrap:normal" type="text" maxlength="1000"></textarea>
                <span asp-validation-for="Goal.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Goal.GoalDate" class="control-label"></label>
                <input asp-for="Goal.GoalDate" class="form-control" />
                <span asp-validation-for="Goal.GoalDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Goal.Deck" class="control-label"></label>
                <select asp-for="Goal.Deck.Id" class="form-control"
                        asp-items="@Model.DeckList">
                    <option value="0">-- Select Deck --</option>
                </select>
                <span asp-validation-for="Goal.Deck" class="text-danger" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
